<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>




<table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Total products</th>
          <th><%=  @total_products %></th>
          <th><%= link_to 'Go to products page', [:admin, :products], class: 'btn btn-info' %>
          </th>
        </tr>
        <tr>
          <th colspan="2">Total Categories</th>
          <th><%= @total_categories %></th>
          <th><%= link_to 'Go to categories page', [:admin, :categories], class: 'btn btn-info' %>
          </th>
          </tr>
          <tr>
          <th colspan="2">Total Sales</th>
          <th><%= @total_sales %></th>
          <th><%= link_to 'Go to sales page', [:admin, :sales], class: 'btn btn-info' %></th>
        </tr>
      </thead>

    </table>