<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>


  <div class="col-sm-8">
        <dl class="form-group">
          <dt>FirstName:</dt>
          <dd><%= f.text_field :first_name %></dd>
          <dt>LastName:</dt>
          <dd><%= f.text_field :last_name %></dd>
          <dt>Email</dt>
          <dd><%= f.text_field :email %></dd>
          <dt>Password:</dt>
          <dd><%= f.password_field :password %></dd>
          <dt>Password Confirmation:</dt>
          <dd><%= f.password_field :password_confirmation %></dd>
          <%= f.submit "Submit" %> 
        </dl>
      </div>

<% end %>
